/**
 * @name Solana Custom
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://maendisease.github.io/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');

:root {
  --accent-hue: 177;
  --accent-saturation: 50%;
  --accent-brightness: 29%;
  --background-accent-hue: 127;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 50%;
  --background-image: url('https://cdn.discordapp.com/attachments/784460633571328050/1113589106090463254/shoujo_rei_bg.png'); /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 3px;
  --background-overlay-opacity: 80%;
  --background-overlay-color-lightness: -0.15;
  --background-hue-shift-strength: 100%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 100%;
  --window-blur: 0;
  --window-friends-blur: 0;
  --window-margin: 15;
  --window-margin-left: 0;
  --window-border-radius: 10px;
  --window-background-lightness: 0;
  --window-accent-tint-strength: 0%;
  --chat-bubble: 0;
  --text-link-hue: 211;
  --chat-text-brightness: 0;
  --home-icon: initial;
  --favorites-icon: initial;
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: 0;
  --sidebar-width: 203px;
  --members-width: 260px;
  --sidebar-text-brightness: 0.1;
  --background-floating-blur: 20px;
  --floating-background-lightness: 0;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 1;
  --custom-font-display: Vulf Sans;
  --custom-font-regular: Nunito Sans;
  --custom-font-primary: Plus Jakarta Sans;
  --custom-font-code: Vulf Mono;
  --enable-blur: 1;
}

/* Any custom CSS below here */


